<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>程序乐园</title>
        <meta name="description" content="不仅仅是记录代码的地方">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<style type="css">
		
		</style>
		
		<link rel="stylesheet" href="{{site.siteurl}}static/css/templatemo-style.css">
		<link rel="stylesheet" href="{{site.siteurl}}static/css/markdownpad-github.css">
		
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-62360759-1', 'auto');
  ga('send', 'pageview');
	</script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    
        <div class="responsive-header visible-xs visible-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="top-section">
                            <div class="profile-image">
                                <img src="{{site.siteurl}}static/img/photo.jpg" alt="ldm">
                            </div>
                            <div class="profile-content">
                                <h3 class="profile-title">刘代明</h3>
                                <p class="profile-description">Coding and learning...</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="main-navigation responsive-menu">
                    <ul class="navigation">
                        <li><a href="#top"><i class="fa fa-home"></i>Home</a></li>
                        <li><a href="#about"><i class="fa fa-user"></i>About Me</a></li>
                        <li><a href="#projects"><i class="fa fa-newspaper-o"></i>My Gallery</a></li>
                        <li><a href="#contact"><i class="fa fa-envelope"></i>Contact Me</a></li>
                    </ul>
                </div>
            </div>
        </div>
		
        <!-- SIDEBAR -->
        <div class="sidebar-menu hidden-xs hidden-sm">
            <div class="top-section">
                <div class="profile-image">
                    <img src="{{site.siteurl}}static/img/photo.jpg" alt="ldm">
                </div>
                <h3 class="profile-title">刘代明</h3>
                <p class="profile-description">Coding and learning...</p>
            </div> <!-- top-section -->
            <div class="main-navigation">
                <ul class="navigation">
                    <li><a href="#top"><i class="fa fa-globe"></i>欢迎</a></li>
                    <li><a href="#about"><i class="fa fa-pencil"></i>关于我</a></li>
                    <!-- <li><a href="#projects"><i class="fa fa-paperclip"></i>My Gallery</a></li> -->
                    <li><a href="#contact"><i class="fa fa-link"></i>联系我</a></li>
                </ul>
            </div> <!-- .main-navigation -->
            <div class="social-icons">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div> <!-- .social-icons -->
        </div> <!-- .sidebar-menu -->
      <div class="banner-bg" id="top">
            <div class="banner-overlay"></div>
            <div class="welcome-text">    
	
                <h5>只要有树叶飞舞的地方，火就会燃烧，火的影子会照耀着村子，树叶还会重新发芽。</h5>
            </div>
        </div>